/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

button, h1, h2, h3, h4, input, textarea, select {
  font-family: inherit;
  /* font-weight: inherit; */
}

/* Hide scrollbar for Chrome, Safari, Edge */
/* ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} */

/* Hide scrollbar for Firefox */
/* html {
  scrollbar-width: none;
} */

/* Hide scrollbar for IE/Edge legacy */
/* body {
  -ms-overflow-style: none;
} */


/* Doesn't break Landing page */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
