/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

.page-wrapper {
  position: relative;
  z-index: 10; /* Above footer */
  background: #101010 /* Important; change to white for footer bug fixes */
}

button, h1, h2, h3, h4, input, textarea, select {
  font-family: inherit;
  /* font-weight: inherit; */
}