/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

button {
  font-family: inherit;
  /* font-weight: inherit; */
}

/* Doesn't break Landing page */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
