.scrollSection {
  position: relative;
  height: 500vh;
  background: #000;
  color: #fff;
}

.stickyContainer {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.contentWrapper {
  display: flex;
  width: 100%;
  padding: 0 clamp(1rem, 5vw, 5%);
  gap: clamp(2rem, 6vw, 6rem);
}

.imageColumn {
  flex: 1;
}

.imageWrap {
  position: relative;
  width: 100%;
  height: clamp(260px, 45vw, 600px);
  
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1.2s cubic-bezier(0.4, 0, 0.2, 1),
            transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity, transform;
}

.image.active {
  opacity: 1;
  transform: scale(1);
}

/* 1st head text */
.mainTitle {
  font-size: clamp(2rem, 6vw, 72px);
  font-weight: 500;
  /* letter-spacing: -2px; */
}

.line {
  display: block;   /* forces new line */
}

.textColumn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textWrap {
  position: relative;
  height: clamp(160px, 22vw, 240px);
  width: 100%;
}

.textContent {
  position: absolute;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.textContent.active {
  opacity: 1;
  transform: translateY(0);
}

.number {
  font-size: clamp(2rem, 6vw, 72px);
  font-weight: 700;
  color: #cfff00;
}

.title {
  font-size: clamp(1.4rem, 4vw, 42px);
  font-weight: 700;
  /* margin-bottom: clamp(0.5rem, 1.5vw, 1rem); */
}

.desc {
  max-width: 520px;
  font-size: clamp(0.9rem, 2.2vw, 18px);
  opacity: 0.85;
}


@media (max-width: 768px) {
  .mainTitle {
    font-size: 36px;
    text-align: center;
  }

  .line {
    display: inline;   /* allow natural wrapping */
  }
}