.wrapper {
  background: #000;
  color: #fff;
}

/* SCROLL AREA */
.scrollArea {
    /* position: relative; */
  /* height: 3500px; */
  /* overflow: hidden; */
  height: clamp(2200px, 300vh, 3500px);
  background-color: #0a0a0a;
  background-image: radial-gradient(circle at 2px 2px, #1a1a1a 2px, transparent 0);
  background-size: 40px 40px;
}

/* Hide scrollbar for Chrome, Safari, Edge */
.scrollArea::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for Firefox */
.scrollArea {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge legacy */
.scrollArea {
  -ms-overflow-style: none;
}

/* STICKY CENTER */
.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */
.card {
  background: #111;
  width: clamp(260px, 45vw, 500px);
  height: clamp(260px, 45vw, 400px);
  padding: clamp(16px, 4vw, 32px);
  /* width: 90%; */
  /* max-width: 550px; */
  /* height: 400px; */
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.8s ease, border-color 0.8s ease;
}

/* STEPS */
.step {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.active {
  opacity: 1;
  transform: translateY(0);
}

.step h2 {
  font-size: clamp(1.6rem, 6vw, 3rem);
  margin-bottom: clamp(10px, 2vw, 15px);
  font-weight: 400;
}

.step p {
  color: #ffffff;
  font-size: clamp(0.9rem, 2.8vw, 1rem);
  max-width: 40ch;
  margin: auto;
  font-weight: 200;
}

/* CARD STATES */
.stateEmpty {
  box-shadow: none;
}

/* .state1 {
  box-shadow:
    -50px 0 100px -20px rgba(255, 255, 255, 0.3),
    50px 0 100px -20px rgba(172, 255, 47, 0.6);
} */

.state1::before,
.state2::before,
.state3::before {
  inset: clamp(-10px, -2vw, -20px);
  filter: blur(clamp(25px, 6vw, 50px));
}

.state1::before {
  content: "";
  position: absolute;
  inset: -15px; /* thickness of glow */
  border-radius: 10px;
  z-index: -1;

  background: conic-gradient(
    #6FA800 0deg 90deg,
    #BCF000 90deg 180deg,
    #BCF000 180deg 270deg,
    #F1F1F1 270deg 360deg
  );

  filter: blur(50px);
  opacity: 0.9;
  animation: rotateGlow 4s linear infinite;
}

.state2::before {
  content: "";
  position: absolute;
  inset: -20px; /* thickness of glow */
  border-radius: 10px;
  z-index: -1;

  background: conic-gradient(
    #f1f1f1c0 0deg 90deg,
    #BCF000 90deg 180deg,
    #6FA800 180deg 270deg,
    #BCF000 270deg 360deg
  );

  filter: blur(50px);
  opacity: 0.9;
}

.state3::before  {
  content: "";
  position: absolute;

  inset: -10px; /* thickness of glow */
  border-radius: 10px;
  z-index: -1;

  background: conic-gradient(
    #6FA800 0deg 90deg,
    #BCF000 90deg 180deg,
    #BCF000 180deg 270deg,
    #F1F1F1 270deg 360deg
  );

  filter: blur(50px);
  opacity: 0.9;
}
