/* TwoColumnSection.module.css */
.twoColumn {
  background: rgb(0, 0, 0);
  color: #ffffff;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 32px; */
  align-items: center;
  /* padding: 0 150px; */
}

.blackFlex{
  /* flex-direction: column; */
  gap: 32px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.text{
    padding: 75px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    letter-spacing: 0px;
    font-size: large;
}

.text h2 {
  font-size: 3rem; font-weight: 500;
}

.text p {
  font-size: 1rem;
  line-height: 1.6;
}


li {
  /* display: flex;
  align-items: center; */
  gap: 1rem;
  padding: 0.8rem 0;
  cursor: pointer;
}

.listItems {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
  padding: 0.6rem 0;
}

.listItem {
    display: flex;
    gap: 30px;
}

.itemNumber {
  font-size: 0.85rem;
  opacity: 0.5;
  min-width: 32px;
}

.line {
  width: 100%;
  height: 0.5px;
  background: rgba(255, 255, 255, 0.2);
  /* transition: width 0.3s ease; */
}

.heroBtn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 14px 22px;
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 10;
  border: 1px solid rgba(255, 255, 255, 0.984);
  color: white;
  cursor: pointer;
}

.heroBtn span {
  background: #b6ff00;
  color: black;
  border-radius: 50%;
  padding: 4px 8px;
}

/* Responsive */
@media (max-width: 768px) {
  .twoColumn {
    grid-template-columns: 1fr;
    padding: 0 24px;
  }

}
